.achievement
  position: fixed
  left: 50%
  bottom: 0px
  
  opacity: 1.0
  border: 1px solid #fff
  background-color: #000
  color: #ddd
  border-radius: 18px
  box-shadow: 0px 0px 8px #ccc
  background-image: embedurl('img/trophy.png')
  background-size: 64px
  background-repeat: no-repeat
  background-position: 6px 6px
  margin-left: 0px
  width: 320px
  height: 64px
  padding-left: 80px
  padding-bottom: 8px
  padding-right: 12px
  padding-top: 8px
  z-index: 30000001
  transition: all 1200ms ease-in-out 0ms
  
  margin-left: -((@width + @padding-left + @padding-right) / 2)
  
  &.offscreen
    opacity: 0.0
  
  
  &.locked
    background-color: #ccc
    color: #444
    
    .title
      color: #444
      font-weight: bold
      text-shadow: 0px 0px 4px #888

  .title
    color: #fff
    font-weight: bold
    text-shadow: 0px 0px 8px #eee